cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

build.ninja
rules.ninja

*.uf2
*.bin
*.hex
*.elf
*.map

_deps/

*.log

.idea/
.vscode/

__pycache__/
*.pyc
